//output:../productos.html
-var p1 = "Front Desk, con sus más de 160 opciones entre operativas,configuración y reportes, es a nivel de hoteles el más importanteentre los módulos.  Una vez configurado el Front Parámetros, estemódulo nos permite de una forma muy eficiente controlar lasoperaciones diarias con reportes muy útiles y facilidad demanipulación de grandes cantidades de información. Front Desk contiene el modulo de Front Parámetro."
-var p2 = "Front Desk, con sus más de 160 opciones entre operativas, configuración y reportes, es a nivel de hoteles el más importante entre los módulos.  Una vez configurado el Front Parámetros, este módulo nos permite de u"
-var lis = ["FRONT DESK","DECISIONES SUPPORT SYSTEM","COMUNICATION","ACCOUTING","TOUR OPERATION","POINT OF SALES BILLING","PAYROLL","MULTIPROPERTY","FIXED ASSET","MANAGMENT","MAIL SERVICE","ONLINE RESERVATION"]
-var boxs = [{img:"img/compras.png",title:"Inventarios",text:p2},{img:"img/compras.png",title:"Ordenes de Compra",text:p2},{img:"img/compras.png",title:"Previsión de Compras",text:p2}]
-var pAvatar = "“Keytar McSweeney's Williamsburg, readymade leggings try-hard 90's street art letterpress hoodie occupy Wes Anders booral literally.”"

mixin avatar(img,img2,title,text)
  .column.is-3
    img.img-avatar(src="#{img}")
    img(src="#{img2}")
  .column
    h4 #{title}
    p.p-avatar #{text}

mixin lis(id,text)
  if id==0
    li.current
      a.a(data-id="#{id}", href="#") #{text}
  else
    li
      a.a(data-id="#{id}", href="#") #{text}
      
include header.pug.jade
    link(rel="stylesheet" href="OwlCarousel2-2.2.1/dist/assets/owl.carousel.css")
    link(rel="stylesheet" href="OwlCarousel2-2.2.1/dist/assets/owl.theme.default.min.css")
body
  
  include navbar.pug.jade
  +navigation("","index.html#imagen")
  .fondo
    .in-fondo 
      p My seven suite es un Software superior, Realice una mejor gestión de su Hotel o Resort
      a.button Solicita Mas Información
  include nav.pug.jade
  //include carrusel.pug.jade
  .owl-carousel#carrusel
  br  
  br  
  .columns.plr-3em
    .column
      .columns.is-mobile
        +avatar("img/avatar1.png","img/avatar-mini1.png","Evelyn Patter",pAvatar)
    .column
      .columns.is-mobile
        +avatar("img/avatar2.png","img/avatar-mini2.png","Mark Harper",pAvatar)
  
  include contactenos.pug.jade  
  include footer.pug.jade
  
script(src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous")
script(src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.min.js")
script(src="js/data.js")
script(src="js/index.js")
